body {
  background: #1e252b;
  margin: 0 90px;
}

.nav-menu-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  padding-right: 40px;
}

.nav-menu:last-child {
  padding-right: 0px;
}

.logo-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 10px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;

  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: inline-block;
}

.account {
  display: flex;
}

.account-btn {
  width: 118px;
  height: 48px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sign-up {
  background-color: rgba(255, 110, 48, 1);
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
}

.main-text {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: white;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 70vh;
  height: 50vh;
  padding-top: 110px;
}
.orange {
  color: orangered;
}
.hero-img {
  display: flex;
  width: 95vh;
}

.right-side-hero {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.search-field {
  border-radius: 15px;
  border: 1.5px;
  background: linear-gradient(0deg, #283036, #283036),
    linear-gradient(
      90.89deg,
      rgba(255, 255, 255, 0.1) -1.67%,
      rgba(255, 255, 255, 0) 103.73%
    );
  padding: 21px 55px;
  width: 90%;
  color: white;
  outline: none;
}

.search-btn {
  border-radius: 8px;
  background: rgba(255, 110, 48, 1);
  color: white;
  padding: 12px 36px;
  position: absolute;
  top: 50%;
  right: -28%;
  transform: translateY(-50%);
}

.search-form {
  position: relative;
  top: -45px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.socials {
  padding-top: 80px;
}

.popular-section > h2 {
  text-align: center;
  margin-top: 200px;
}

.popular-section > .lower {
  width: 35%;
  margin: 0 auto;
  margin-top: 25px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tool-card {
  border-radius: 15px;
  background: #1e252b;
  width: 392px;
  height: 294px;
  flex-shrink: 0;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.tool-card:hover {
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}

.tool-card-top {
  display: flex;
  align-items: center;
}
.tool-image {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  opacity: 0.78;
  padding-top: 33px;
  padding-left: 33px;
}

.card-title {
  flex-direction: column;
  margin-left: 30px;
}

.card-title > h4 {
  color: rgba(255, 255, 255, 0.78);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-title > h5 {
  color: rgba(255, 165, 55, 0.55);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tool-card > p {
  color: rgba(255, 255, 255, 0.55);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  margin-top: 30px;
}
.card-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-top: 30px;
}

.card-nav-btn {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.card-nav-btn.like:hover {
  content: url(images/like\ hover.svg);
}

.card-nav-btn.like {
  margin-right: 25px;
}

.card-nav-visit {
  color: rgba(255, 255, 255, 0.55);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 9px 35px;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
}

.card-nav-visit:hover {
  background: #ff6e30;
}

.more {
  color: #ff6e30;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 17px 38px;
  margin-top: 100px;
}

.trusted-container {
  border-radius: 25px;
  background-image: url("images/Mask\Group\\(1\).svg");
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 200px;
}

.trusted-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 55px;
}

.trusted-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 55px 82px;
}

.newcomer-tools-section {
  margin-top: 200px;
  display: flex;
  gap: 300px;
  align-items: start;
}

.right-side-newcomer {
  width: 40%;
}

.left-side-newcomer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}
.button {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: #ff6e30;
  display: flex;
  margin-top: 60px;
  padding: 15px 40px;
  width: 25%;
  text-align: center;
}

.newcomer-card {
  width: 40%;
  display: inline-block;
  margin-top: 0;
}

.card-nav-visit-newcomer {
  margin-left: 49px;
}

.card-nav-btn.like.newcomer {
  margin-right: 15px;
}
